<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Thêm bài báo</title>
</head>

<body>
    <div class="container">
        <h2 style="color: blue; ">THÊM BÀI BÁO</h2>

        <% if(typeof errors !='undefined') 
        {%>
            <% for(let err of errors) 
                {%>
                <div class="alert alert-danger" role="alert">
                    <%=err.msg%>
                </div>
                <%} 
            %>
                    <%} 
        %>



                        <form id="create" method="POST" action="/add" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="id">Mã báo</label>
                                <input required type="text" class="form-control" name="bai_bao" id="id" placeholder="Mã sản phẩm">
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label for="name">Tên Báo</label>
                                <input required type="text" class="form-control" name="ten_bao" id="name" placeholder="Tên báo">
                            </div>
                            <div class="form-group">
                                <label for="hinh">Hình ảnh</label>
                                <input required type="text" class="form-control" name="hinh_anh" id="hinh" placeholder="Hình ảnh">
                            </div>
                            <div class="form-group ">
                                <label for="tac_gia">Tên nhóm tác giả</label>
                                <input required type="text" class="form-control" name="ten_TacGia" id="tac_gia" placeholder="Tên nhóm tác giả">
                            </div>
                            <div class="form-group">
                                <label for="ISBN">Chỉ số ISBN</label>
                                <input required type="text" class="form-control" name="chiso_ISBN" id="ISBN" placeholder="Chỉ số ISBN">
                            </div>
                            <div class="form-group">
                                <label for="trang">Số trang</label>
                                <input required type="number" class="form-control" name="so_trang" id="trang" placeholder="Số trang">
                            </div>
                            <div class="form-group ">
                                <label for="nam_XB">Năm xuất bản</label>
                                <input required type="number" class="form-control" name="nam_XB" id="nam_XB" placeholder="Năm xuất bản">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Thêm"></input>
                        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>